body {
  margin: 0;
  font-family: "DIN Alternate", sans-serif;
  background-color: #222;
  color: white;
}

.navimg {
  position: absolute;
  margin-left: 1.2rem;
  margin-top: 0.25rem;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a, 
.topnav a:visited { 
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  position: relative;
  left: 70px;
}

.topnav a:hover {
  background-color: #ddddddbb;
  color: black;
}

.topnav a.active {
  background-color: #005095;
  color: white;
}

a:visited {
  color: hotpink;
}
